
.classpath
.idea/compiler.xml
.idea/dictionaries/ameya.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.project
.settings/org.eclipse.jdt.core.prefs
out/production/StreamsTutorial/songs.csv
out/production/StreamsTutorial/tags.csv
out/production/StreamsTutorial/Tutorial$Songs.class
out/production/StreamsTutorial/Tutorial$Tags.class
out/production/StreamsTutorial/Tutorial.class
resources/tags.csv
StreamsTutorial.iml
